html{
    background: rgb(202, 163, 163) ;
}


.titulo{
    text-align: center;
    margin-top: 50px;
    
}

.titulo:hover{
    color: brown;
    
}

.logincomun{
    align-content: center;
    margin-top: 50px;
    width:300px;
    height: 100px;

}

.loginredes{
    align-content: center;
    margin-top: 50px;
    width: 100px;
    height: 500px;
}