html{
    background: rgb(202, 163, 163) ;
}


.titulo{
    text-align: center;
    margin-top: 50px;
    
}

.titulo:hover{
    color: brown;
}

.logincomun{
    margin: auto;

}

.loginredes{
    margin: auto;
}